.errorpage__container {

    display: flex;
    position: absolute;
    top: 159px;
    left: 20%;
    width: 80%;
    height: 50vh;
    flex-direction: column;

    h1 {
        color: #ff6060;
        font-size: 20em;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    p {
        color: #FF6060;
        text-align: center;
    }
}

.error__link {
    text-align: center;
    color: #FF6060;
    text-decoration: underline #FF6060;
    position: absolute;
    top: 80%;
    right: 28%;
    font-size: 20px;
}

a:hover {
    cursor: pointer;
}