.homepage {
    display: flex;
    position: absolute;
    top: 159px;
    left: 15%;
    width: 85%;
    flex-direction: column;

    &__statistics-box {
        width: 100%;
        display: flex;
        flex-direction: row;

        &__central {

            width: 80%;
            margin-right: 20px;


            .homepage__daily-card {
                width: 100%;
            }

            .homepage__statistics-box__central__footer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                margin-top: 20px;
            }
        }
    }
}